@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:#4b0b0b;
    color: #E8DCC8;
    font-family: 'VT323', monospace;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 10px;
  
}

p {
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    line-height: 1;
    color: #ffff00;
}

header img {
    height: 80px;
}

.jogos h2 {
    font-family: 'Bebas Neue';
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 120px;
    letter-spacing: 4px;
}

.jogo-principal img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.jogo-principal figcaption h3 {
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    background-color: #2e2121;  
}

